<!DOCTYPE html>
<html>

{% include head.html %}

<body id="TOP">

    {% include header.html %}

    <div id="main" class="container pwctw-main">
        <div class="pwctw-post-area pwctw-post">
            {{ content }}
        </div>
    </div>

    <div id="top" data-toggle="tooltip" data-placement="left" title="回到最頂">
        <a href="#TOP">
            <div class="pwctw-arrow"></div>
            <div class="pwctw-stick"></div>
        </a>
    </div>

    {% include footer.html %}  
  
</body>

</html>